{extend name="index"}
{block name="content"}
<div class="container sign">
    <div class="row">
        <div class="col col-sm-12 col-md-8 col-md-offset-2 userDetail">
            <h1>博客设置</h1>
            <form id="uploadBGM" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="email" class="col-sm-2">背景音乐</label>
                    <div class="col-sm-8">
                        <input type="file" multiple="multiple" name="BGM[]"
                               class="form-control"
                               accept="audio/mpeg"
                        />
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-link uploader-btn-start" onclick="upload(this)">
                            <i class="icon icon-cloud-upload"></i> 开始上传
                        </button>
                    </div>
                </div>
            </form>
            <hr />
            <h1>个人资料</h1>
            <hr />
            <!-- <div class="row pic">
                <div class="col col-xs-12 col-sm-6">
                    {if($user.pic === null)}
                    <img src="__IMG__/pic.jpg" alt="示例头像">
                    {else/}
                    <img src="{$user.pic}" alt="{$user.name}">
                    {/if}
                </div>
                <div class="col col-xs-12 col-sm-6">
                    <h3>修改头像</h3>
                    <form action="/index/user/upload" enctype="multipart/form-data" method="post">
                        <input type="file" name="image" class="form-control" /> <br> 
                        <input type="submit" value="上传并修改头像" class="form-control btn btn-primary"/> 
                    </form> 
                </div>
            </div> -->
            <form id="profileForm" action="/profile" method="post" class="form-horizontal">
                <div class="form-group">
                    <label for="email" class="col-sm-2">电子邮件</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" value="{$user.email}" class="form-control" id="email" placeholder="给个电邮地址吧" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2">昵称</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" value="{$user.name}" class="form-control" id="name" placeholder="想一个独一无二的名字" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 required">重设密码</label>
                    <div class="col-sm-10">
                        <input type="password" name="pwd" class="form-control" id="password" placeholder="重新设置一个6位以上的密码" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd_confirm" class="col-sm-2 required">确认密码</label>
                    <div class="col-sm-10">
                        <input type="password" name="pwd_confirm" class="form-control" id="pwd_confirm" placeholder="再输一次新密码" required />
                    </div>
                </div>
                <div class="form-group fr">
                    <button type="submit" class="btn btn-primary">确认修改</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    function upload(obj) {
        var bgms = $("input[type='file']").val();
        var uploadUrl = '/upload/bgm/';
        if(bgms === '' || bgms === null) {
            new $.zui.Messager('上传背景音乐不可为空', {
                type: 'warning',
                close: true,
            }).show();
            return false;
        }
        var formData = new FormData($("#uploadBGM")[0]);
        $.ajax({
            url: uploadUrl,
            type: 'POST',
            data: formData,
            dataType: 'json',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function() {
                $(obj).html('正在上传...');
                $(obj).attr('disabled', true);
            },
            success: function(data) {
                console.log(data)
                if (data.status === 'success') {
                    new $.zui.Messager(data.message, {
                        type: data.status,
                        close: true,
                    }).show();
                    setTimeout(function() {
                        window.location.href = "/profile";
                    }, 1500);
                } else if (data.status === 'warning') {
                    data.message.map(function(m) {
                        new $.zui.Messager(m, {
                            type: data.status,
                            time: 100000,
                            close: true,
                        }).show();
                    });
                    $(obj).html('<i class="icon icon-cloud-upload"></i> 开始上传');
                    $(obj).attr('disabled', false);
                }
            }
        });
    };
    $('#profileForm').submit(function(){
        var button = $(this).find("button[type='submit']");
        button.attr('disabled', true);
        button.html('正在修改...');
        var pwd = $("input[name='pwd']").val();
        var pwd_confirm = $("input[name='pwd_confirm']").val();
        var method = $(this).attr('method');
        var action = $(this).attr('action');
        $.ajax({
            type: method,
            url: action,
            dataType: 'json',
            data: {
                'pwd': pwd,
                'pwd_confirm': pwd_confirm,
            },
            success: function(data){
                new $.zui.Messager(data.message, {
                    type: data.status,
                    close: true,
                    // actions: [{
                    //         name: 'undo',
                    //         icon: 'undo',
                    //         text: '撤销',
                    //         action: function() {  // 点击该操作按钮的回调函数
                    //             console.log('你点击了撤销按钮。');
                    //         }
                    //     }]
                    }).show();
                    button.removeAttr('disabled');
                    button.html('确认修改');
                if(data.status === 'success'){
                    setTimeout(function(){
                        window.location.href='/';
                    },1000);
                }
            },
        });
        return false;
    })
</script>
{/block}